[submodule "external/olsrinfo"]
	path = external/olsrinfo
	url = https://github.com/guardianproject/OlsrInfo.git
[submodule "external/busybox"]
	path = external/busybox
	url = git://busybox.net/busybox.git
[submodule "external/serval-dna"]
	path = external/serval-dna
	url = https://github.com/servalproject/serval-dna.git
