[submodule "external/olsrd"]
	path = external/olsrd
	url = http://olsr.org/git/olsrd.git
[submodule "external/olsrinfo"]
	path = external/olsrinfo
	url = https://github.com/guardianproject/OlsrInfo.git
[submodule "external/busybox"]
	path = external/busybox
	url = git://busybox.net/busybox.git
[submodule "external/shell-fork"]
	path = external/shell-fork
	url = https://github.com/opentechinstitute/shell-fork
